:root {
    /* font-family */
    --main-ff: 'Roboto', sans-serif;
    --secondary-ff: 'Releway', sans-serif;

    /* color */
    --main-color:#FFFFFF ;
    --pane-padding: 5px 42px;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --lightslate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navybluemodal: #2E2F42;
    --grey: #2E2F42;
    --dairy: #FCFCFC;

    /* gap */
    --col-gap: 24px;
    --row-gap: 48px;

    /* timing-function */
    --timing-function: cubic-bezier(0.4, 0 , 0.2, 1);
  }

  body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

/* adaptive img */
img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  address {
    font-family: normal;
    margin-left: auto;
  }

  /*common style*/

  .container {
    max-width: 428px; 
    padding: 0 16px;
    margin: 0 auto;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px; 
    }
}

@media screen and (min-width: 1150px) {
    .container {
        max-width: 1158px; 
    }
}

/* svg */

.social-network {
    display: flex; 
    justify-content: center; 
    gap: 24px; 
    list-style: none;
}

.social {
    width: 40px;
    height: 40px;
}

.a-soc {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-soc:hover {
    background-color: #404bbf;
}

.a-soc:focus {
    background-color: #404bbf;
}

.svg-soc {
    fill:  #f4f4fd;
}


/*section .sec*/
  .sec {
    max-width: 428px; 
    padding: 112px 0 ;
    margin: 0 auto;

    text-align: center;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/team/dark-bg-mobile.jpg);
    background-color: var(--navyblue, #2E2F42);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.h-one {
    color: var(--white, #FFF);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 1.12px;
    text-align: center;
    max-width: 320px; 
    margin: 0 auto 72px;
}


.button {
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em; /* 150% */
    letter-spacing: 0.64px;
    color: var(--white, #FFF);
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 16px 32px;    
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

@media screen and (min-device-pixel-ratio:2),
    screen and (min-resoiution: 192dpi),
    screen and (min-resoiution: 2dppx) {
        .sec {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/team/dark-bg-mobile@2x.jpg);
        }

    }

@media screen and (min-width: 768px) {
    .sec {
        max-width: 768px; 
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/team/dark-bg-planshet.jpg);
    }

    @media screen and (min-device-pixel-ratio:2),
    screen and (min-resoiution: 192dpi),
    screen and (min-resoiution: 2dppx) {
        .sec {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/team/dark-bg-planshet@2x.jpg);
        }

    }

    .h-one {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07em;
        max-width: 496px; 
        margin: 0 auto 36px;
    }    
}

@media screen and (min-width: 1150px) {
    .sec {
        padding: 188px 0 ;
        max-width: 1440px; 
        height: 600px;    
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/team/people-office.jpg);
    }

    @media screen and (min-device-pixel-ratio:2),
    screen and (min-resoiution: 192dpi),
    screen and (min-resoiution: 2dppx) {
        .sec {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/team/people-office@2x.jpg);
        }

    }

    .h-one {
        margin: 0 auto 48px;
    }    
}

/*section sec-two */

.sec-two{
    padding: 96px 0;
}

.ulli-one {
    gap: 0px;     
}

.li-one {
    display: flex;
    width: 396px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px; 
}

.div-li-all{
    display:none;
}

.h-three-p {
    color: var(--navyblue, #2E2F42);
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1em; 
    letter-spacing: 0.72px;
    padding-bottom: 8px;
    padding-top: 72px;
    margin: 0;
    text-align: center;
    align-self: stretch;
}

.p-one {
    color: #434455;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    align-self: stretch;
    padding-left: 16px;
}



@media screen and (min-width: 768px) {
    .sec-two{
        padding: 96px 0;
    }

    .ulli-one {
        display: flex;
        gap: 24px; 
        flex-wrap: wrap;
    }

    .li-one {
        width: calc((100% - 24px)/2);
    }

    .div-li-all{
        display:none;
    }

    .h-three-p {
        letter-spacing: 0.72px;
        margin-top: 96px;
        margin: 0;
    }
}

@media screen and (min-width: 1150px) {
    .sec-two{
        padding: 120px 0;
    }

    .ulli-one {
        gap: 24px; 
    }

    .li-one {
        width: calc((100% - 72px) / 4); 
    }

    .div-li-all{
        display: flex; 
        align-items: center;
        justify-content: center;
        height: 112px; 
        width: 264px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
        
    }

    svg{
        flex-shrink: 0;
    }

    .h-three-p {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2em; /* 120% */
        letter-spacing: 0.4px;
        margin-bottom: 8px;
        margin: 0;
        padding-top: 0;
    }

    .p-one {
        font-weight: 400;
    }

        
    .list {
        list-style: none;
        display: flex; 
        color: var(--navyblue, #2E2F42);
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 1.5em; 
        letter-spacing: 0.32px;
        padding-left: 0;
        margin: 0;
    }
}

/*section sec-tree */



@media screen and (min-width: 768px) {
    
}

@media (max-width: 1150px) {
    .sec-three{
        display: none;
    }
}

@media screen and (min-width: 1150px) {
    .sec-three{
        padding-bottom: 120px;
    }
    
    .ulli-two {
        gap: 24px;
    }

    
}

/* section sec-four */

.sec-four {
    flex-shrink: 0;
    background: var(--cloud, #F4F4FD);
    padding: 96px 0;
}

.li-two {
    padding-bottom: 0px;
    justify-content: center;
    background: var(--white, #FFF);
    }

    .work {
        padding: 32px 0;
        }    

    .h-three-i {
        color: var(--navyblue, #2E2F42);
        font-family: 'Roboto';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2em; /* 120% */
        letter-spacing: 0.4px;
        margin: 0;
        margin-bottom: 8px;
        text-align: center;
    }

    .h-two {
        margin: 0;
        margin-bottom: 72px;
        color: var(--navyblue, #2E2F42);
        font-family: 'Roboto';
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11em; /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-align: center;
    }

    .p-two {
        color: #434455;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2em; /* 150% */
        letter-spacing: 0.32px;
        text-align: center; 
        margin-bottom: 8px;
    }

   img {
        margin-left: 70px;
        margin-top: 72px;
   }

@media screen and (min-width: 768px) {
    .ulli-three {
        display: flex;
        gap: 24px; 
        flex-wrap: wrap;   
        margin-left: 100px;
    }

    img {
        margin-left: 0px;
        margin-top: 0px;
   }
    
}

@media screen and (min-width: 1150px) {
    .sec-four {
        padding: 120px 0;
    }

    .ulli-three {
        display: inline-flex;
        gap: 24px; 
        flex-wrap: nowrap;   
        margin-left: 0;
    }
   
    img {
        margin-left: 0px;
        margin-top: 0px;
   }
}

/* section sec-five */
.sec-five {
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0;
}

.ul-clients{
    display: flex; 
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.client {
    height: 88px;    
    width: calc((100% - 120px) / 2);
    margin-top: 72px;
    gap: 16px;
    margin-left: 35px;
}

.a-cli {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: #8e8f99;   
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.a-cli:hover {
    border-color: #404bbf; 
    color: #404bbf;
}

.a-cli:focus {
    border-color: #404bbf; 
    color: #404bbf;
}

.svg-cli {
    fill: currentColor;   
}

@media screen and (min-width: 768px) {

    .ul-clients{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        margin-left: 96px;
    }

    .client {
        height: 88px;    
        width: calc((100% - 120px) / 3);
        margin-top: 72px;
        gap: 24px;
        margin-left: 0px;
    }
}

@media screen and (min-width: 1150px) {
    .sec-five {
        padding-top: 120px;
        padding-bottom: 120px;
    }   

    .ul-clients{ 
        margin-left: 0;
    }

    .client {
        height: 88px;    
        width: calc((100% - 120px) / 6);
    }
}

/* portfolio */

/**/
.portfolio-card-link {
    display: block;   
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:hover  {
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-card-link:focus  {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);   
}

.portfolio-card-link:hover .p-div-img,
.portfolio-card-link:focus .p-div-img {
    transform: translateY(0%);
}
 

.p-div-img {
    position: absolute; 
    top: 0;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #f4f4fd;
    padding: 40px 32px; 
    background-color: #4d5ae5; 
    height: 100%; 
    width: 100%; 
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-img {
    position: relative; 
    overflow: hidden;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .visually-hidden:focus {
    border-color: #404bbf;
  }
/**/

.sec-p {
    padding-top: 48px; 
    padding-bottom: 48px;
}

.ullp-one {
    gap: 24px; 
    justify-content: center; ;
    margin-bottom: 48px;
}


@media screen and (min-width: 768px) {
    .sec-p {
        padding-top: 64px; 
        padding-bottom: 96px;
    }

    .ullp-one{
        justify-content: center; 
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 1150px) {
    .sec-p {
        padding-top: 96px; 
        padding-bottom: 120px;
    }

    .ullp-one{
        justify-content: center; 
        margin-bottom: 72px;
    }

   
}