

/* header*/



.div{}























/* main */


/* portfolio */

/**/

 



/**/

.sec-p {
    padding-top: 48px; 
    padding-bottom: 48px;
}

.ullp-one {
    gap: 24px; 
    justify-content: center; ;
    margin-bottom: 48px;
}


@media screen and (min-width: 768px) {
    .sec-p {
        padding-top: 64px; 
        padding-bottom: 96px;
    }

    .ullp-one{
        justify-content: center; 
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 1150px) {
    .sec-p {
        padding-top: 96px; 
        padding-bottom: 120px;
    }

    .ullp-one{
        justify-content: center; 
        margin-bottom: 72px;
    }

   
}

















/* modal window */
    
































   

   
















/* footer */

















.ul2 {
    flex-shrink: 0;
}


/*portfolio*/



.ulp {
    text-align: center;
    /* Button Text */
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2em; /* 150% */
    letter-spacing: 0.64px;
}






.iris1 {}


.iris2 {}

.iris3 {}

.iris4 {}

.iris5 {}

.all {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    color:  #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc ;
    border-radius: 4px;   
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.all:hover {
    color: #FFFFFF;
    background-color: #404BBF ;
    border: 1px solid transparent;
    box-shadow: 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.all:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow:  0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}








.social-network-f {
    gap: 16px;
    display: flex; 
    list-style: none;
    justify-content: center;
}






/*modal-window*/

.button {
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-family: "Roboto", sans-serif ;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em; /* 150% */
    letter-spacing: 0.64px;
    color: var(--white, #FFF);
    cursor: pointer;
    display: block; 
    min-width: 169px;
    height: 56px;
    border: none; 
    border-radius: 4px; 
    gap: 10px;
    align-items: flex-start;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    margin-top: 48px;
}